[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "*"
chardet = "~=3.0.4"
greenlet = "~=0.4.13"
idna = "~=2.7"
requests = ">=2.20.0"
urllib3 = "*"
uplink = {extras = ["aiohttp"], version = "*"}
pydantic = "*"

[dev-packages]
black = "==20.8b1"
tox = "*"
tox-pipenv = "*"
twine = "*"

[requires]
python_version = "3.8"
