[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.20.0"
uplink = {extras = ["aiohttp"], version = ">=0.9.4"}
pydantic = ">=2.0.0"
anacreonlib = {file = ".", editable = true}

[dev-packages]
black = "==20.8b1"
tox = "*"
tox-pipenv = "*"
twine = "*"
pipenv-to-requirements = "*"
mypy = "*"
sphinx = "==7.2.6"
furo = "==2024.1.29"

[requires]
python_version = "3.8"
